.pointer {
  cursor: pointer;
}

.mx-20 {
  margin-left: 20%;
  margin-right: 20%;
}

.answer-option {
  background-color: blueviolet;
  border-radius: 0.3rem;
  padding: 1%;
  cursor: pointer;
  width: 60%
}

.answer-option:hover {
  background-color: rgb(125, 13, 230);
}

.correct {
  color: lawngreen;
}

.incorrect {
  color: red;
}