.pointer {
  cursor: pointer;
}

.mx-20 {
  margin-left: 20%;
  margin-right: 20%;
}

.answer-option, .button {
  background-color: blueviolet;
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 1%;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  width: fit-content;
}

.button {
  display: inline-block;
  text-align: center;
}

.answer-option {
  width: 60%;
}

.answer-option:hover, .button:hover {
  background-color: rgb(125, 13, 230);
}

.white-outline {
  -webkit-text-stroke-color: #d9e9e8;
  -webkit-text-stroke-width: 0.01px;
}

.italics {
  font-style: italic;
}

.first {
  color: gold;
  font-size: 1.5rem;
  font-weight: bolder;
}

.second {
  color: silver;
  font-size: 1.35rem;
  font-weight: bold;
}

.third {
  color: brown;
  font-size: 1.3rem;
}